<div class="text-center">
<br>
<h1> Contactez Nous : </h1>
<br>
<li> Téléphone : 07 69 69 69 69</li>
<li> Mail : GoodGones69@gmail.com </li>
<li> Adresse : 90 cours Lafayette 69006 </li>
<li> Fax : 05 04 03 02 01 </li>
<li> Tuba, THP 1ere session 2020 </li>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
     <br>
    <br>
    <br>
    <br>
    
    
</div>